@import url(../../@spring-raining/vs-theme-grid-system/theme.css);

@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

:root {
  --vs-theme--photo-book-main-width-on-screen: min(100vw, 60rem);
}

:root {
  --vs-font-family: 'Sawarabi Mincho', serif;
  --vs-font-size: 90%;
  --vs-font-size-on-print: 80%;
  --vs-theme--page-grid-gap: 1rem;
  --vs-theme--page-width-on-screen: var(
    --vs-theme--photo-book-main-width-on-screen
  );
  --vs-theme--page-height-on-screen: 100vmin;
}

@media screen {
  main {
    width: var(--vs-theme--photo-book-main-width-on-screen);
    margin: 0 auto;
  }

  main .facing-pages {
    margin: 0
      calc((var(--vs-theme--photo-book-main-width-on-screen) - 100vw) * 0.5);
  }

  main .facing-pages > .grid-page {
    margin: 0 auto;
  }
}
