@import url(node_modules/@vivliostyle/theme-techbook/theme.css);

@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Th.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --vs-color-bg: white;
  --vs-font-family: 'LINE Seed JP_OTF', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --vs-text-spacing: normal;
  --vs--p-text-spacing: var(--vs-text-spacing);
  --vs-page--color-bg: #dcdcdc;
  --vs-page--margin-top: 23mm;
  --vs-page--margin-bottom: 15mm;
  --vs-page--margin-inner: 15mm;
  --vs-page--margin-outer: 15mm;
}

@media screen {
  :root {
    --vs--p-text-align: initial;
  }
}

@media print {
  :root {
    --vs-column-count: 2;
    --vs-column-gap: 3rem;
    --vs-column-fill: all;
  }
}

html {
  column-fill: var(--vs-column-fill);
}

article > *:first-child,
article > h1:first-child + *,
body > section:first-child > *:first-child {
  margin-block-start: 0;
}

article > h1:first-child {
  float: block-start;
  float-reference: page;
}

@media print {
  html.theme-description {
    --vs-color-body: rgb(0, 0, 109);
    --vs-color-bg: rgb(235, 249, 255);
    --vs-theme--inline-code-color-bg: white;
    --vs-theme--inline-code-color-body: var(--vs-color-body);
    --vs-page--color-bg: rgb(235, 249, 255);
  }
}

@media not screen {
  .screen-only {
    display: none;
  }
}

#toc,
nav[role='doc-toc'] {
  break-before: initial;
}

#colophon {
  --vs--h2-font-size: 1.4rem;
  position: relative;
  float: block-end;
  float-reference: page;
  margin-bottom: 0;
}

#colophon ul.editions {
  padding: 0;
  list-style: none;
}

#colophon ul.editions time {
  display: inline-block;
  width: 12rem;
}

#colophon .info {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-auto-rows: min-content;
  gap: 0.5rem;
  border-top: 2px solid;
  border-bottom: 1px solid;
  padding: 0.5rem 0;
}

html:has(#toc) {
  page: toc;
  break-before: verso;
  --vs-column-count: 1;
  --vs-page--margin-inner: 80mm;
}

@page :first {
  counter-increment: page 2;
}

@page preface {
  --vs-page--mbox-content-top-left: none;
  --vs-page--mbox-content-top-right: none;
}

@page afterword {
  --vs-page--mbox-content-top-left: none;
  --vs-page--mbox-content-top-right: none;
}
