@import url(node_modules/@vivliostyle/theme-techbook/theme.css);

@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Th.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LINE Seed JP_OTF';
  src: url('fonts/LINESeedJP/LINESeedJP_OTF_Eb.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --vs-font-family: 'LINE Seed JP_OTF', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media screen {
  :root {
    --vs--p-text-align: initial;
  }
}
