---
export interface Props {
  isRaw?: boolean;
}

const { isRaw } = Astro.props;
---

<div>
  <div data-running-element="heading" aria-hidden="true">
    <div></div>
  </div>
  <article>
    <slot />
  </article>
</div>

<style>
  @media screen {
    [data-running-element='heading'] {
      display: none;
    }

    article {
      max-width: 48rem;
      margin: 1rem auto;
    }
  }
</style>
