---
import VivliostyleArticle from '@/components/VivliostyleArticle.astro';

export interface Props {
  title: string;
  frontmatter?: any;
  theme?: string[];
  isRaw?: boolean;
}

const { title, frontmatter, theme, isRaw } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" class={frontmatter?.class}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter?.title}</title>
    {
      ((!isRaw && theme) || []).map((path) => (
        <link rel="stylesheet" href={path} />
      ))
    }

    <style is:global>
      :root {
        --astro-code-color-background: var(--vs-theme--code-block-color-bg);
        --astro-code-color-text: var(--vs-theme--code-block-color-body);
      }
    </style>
  </head>
  <body class={frontmatter?.class}>
    <VivliostyleArticle {...{ isRaw }}>
      <slot />
    </VivliostyleArticle>
  </body>
</html>
