---
import VivliostyleArticle from '@/components/VivliostyleArticle.astro';
import '@/styles/vivliostyle-theme.css';

export interface Props {
  title: string;
  frontmatter?: any;
}

const { title, frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || frontmatter?.title}</title>
  </head>
  <body>
    <VivliostyleArticle>
      <slot />
    </VivliostyleArticle>
  </body>
</html>
