@import url(../../@vivliostyle/theme-base/theme-basic.css);
@import url(../../@vivliostyle/theme-base/css/partial/page.css);

:root {
  --vs-page--bleed: 0px; /* don't set 0! */
  --vs-theme--page-width-on-screen: 100%;
  --vs-theme--page-height-on-screen: 100vh;
  --vs-theme--page-grid-gap: 0;
  --vs-theme--page-grid-inner-template-rows: 1fr;
  --vs-theme--page-grid-inner-template-cols: 1fr;
  --vs-theme--page-grid-margin-top: calc(
    var(--vs-page--margin-top) + var(--vs-page--bleed)
  );
  --vs-theme--page-grid-margin-bottom: calc(
    var(--vs-page--margin-bottom) + var(--vs-page--bleed)
  );
  --vs-theme--page-grid-margin-inner: calc(
    var(--vs-page--margin-inner) + var(--vs-page--bleed)
  );
  --vs-theme--page-grid-margin-outer: calc(
    var(--vs-page--margin-outer) + var(--vs-page--bleed)
  );
  --vs-theme--page-grid-margin-left: calc(
    0.5 *
      (
        var(--vs-theme--page-grid-margin-inner) +
          var(--vs-theme--page-grid-margin-outer)
      )
  );
  --vs-theme--page-grid-margin-right: calc(
    0.5 *
      (
        var(--vs-theme--page-grid-margin-inner) +
          var(--vs-theme--page-grid-margin-outer)
      )
  );
  --vs-theme--page-grid-template: [page-outer-start]
    var(--vs-theme--page-grid-margin-top) [page-inner-start]
    var(--vs-theme--page-grid-inner-template-rows) [page-inner-end]
    var(--vs-theme--page-grid-margin-bottom) [page-outer-end] /
    [page-outer-start] var(--vs-theme--page-grid-margin-left) [page-inner-start]
    var(--vs-theme--page-grid-inner-template-cols) [page-inner-end]
    var(--vs-theme--page-grid-margin-right) [page-outer-end];
  --vs-theme--facing-pages-gutter-size: var(--vs-theme--page-grid-margin-inner);
  --vs-theme--facing-pages-grid-template: [page-outer-start]
    var(--vs-theme--page-grid-margin-top) [page-inner-start]
    var(--vs-theme--page-grid-inner-template-rows) [page-inner-end]
    var(--vs-theme--page-grid-margin-bottom) [page-outer-end] /
    [page-outer-start] var(--vs-theme--page-grid-margin-outer)
    [page-inner-start] var(--vs-theme--page-grid-inner-template-cols)
    repeat(2, var(--vs-theme--facing-pages-gutter-size))
    var(--vs-theme--page-grid-inner-template-cols) [page-inner-end]
    var(--vs-theme--page-grid-margin-outer) [page-outer-end];
}

.grid-page {
  ---logical-direction-sign-x: 1;
  ---logical-direction-sign-y: 1;
  page: grid;
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  display: grid;
  gap: var(--vs-theme--page-grid-gap);
  grid-template: var(--vs-theme--page-grid-template);
}
.grid-page > * {
  grid-area: var(--vs-theme--page-grid-area, auto);
}

.facing-pages {
  break-before: verso;
  break-after: verso;
}

.facing-pages > .grid-page {
  --vs-theme--page-grid-template: var(--vs-theme--facing-pages-grid-template);
}

@container style(--vs-writing-mode: vertical-rl) or style(--vs-direction: rtl) {
  .grid-page {
    ---logical-direction-sign-x: -1;
    ---logical-direction-sign-y: 1;
  }
}

/*
 * The .direction-rtl class is provided for environment which doesn't support style container query.
 */
:is([dir='rtl'], .direction-rtl) .grid-page,
.grid-page:is([dir='rtl'], .direction-rtl) {
  ---logical-direction-sign-x: -1;
  ---logical-direction-sign-y: 1;
}

@page grid {
  margin: 0;
}

@media print {
  .grid-page {
    width: calc(var(---facing-pages-width, 100vw) + var(--vs-page--bleed) * 2);
    height: calc(100vh + var(--vs-page--bleed) * 2);

    /*
     * Hacks avoiding page feed of Vivliostyle
     */
    margin-block-start: -32768px;
    margin-inline-start: -32768px;
    transform: translateX(
        calc(
          32768px * var(---logical-direction-sign-x) - var(--vs-page--bleed) *
            var(---logical-direction-sign-x) +
            var(---facing-recto-page-transform, 0)
        )
      )
      translateY(
        calc(
          32768px * var(---logical-direction-sign-y) - var(--vs-page--bleed) *
            var(---logical-direction-sign-y)
        )
      );
  }

  .facing-pages > .grid-page {
    ---facing-pages-width: 200vw;
  }

  .facing-pages > .grid-page:nth-child(2n) {
    ---facing-recto-page-transform: calc(
      -100vw * var(---logical-direction-sign-x)
    );
  }
}

@media screen {
  :root {
    --vs-theme--facing-pages-gutter-size: 0;
  }

  .grid-page {
    width: var(--vs-theme--page-width-on-screen);
    height: var(--vs-theme--page-height-on-screen);
  }

  .facing-pages {
    overflow-x: auto;
  }

  .facing-pages > .grid-page {
    width: calc(var(--vs-theme--page-width-on-screen) * 2);
  }

  .facing-pages > .grid-page:not(:first-child) {
    display: none;
  }
}

/*
 * Utility classes
 */

.grid-page-rows-1 {
  --vs-theme--page-grid-inner-template-rows: repeat(1, 1fr);
}

.grid-page-rows-2 {
  --vs-theme--page-grid-inner-template-rows: repeat(2, 1fr);
}

.grid-page-rows-3 {
  --vs-theme--page-grid-inner-template-rows: repeat(3, 1fr);
}

.grid-page-rows-4 {
  --vs-theme--page-grid-inner-template-rows: repeat(4, 1fr);
}

.grid-page-rows-5 {
  --vs-theme--page-grid-inner-template-rows: repeat(5, 1fr);
}

.grid-page-rows-6 {
  --vs-theme--page-grid-inner-template-rows: repeat(6, 1fr);
}

.grid-page-rows-7 {
  --vs-theme--page-grid-inner-template-rows: repeat(7, 1fr);
}

.grid-page-rows-8 {
  --vs-theme--page-grid-inner-template-rows: repeat(8, 1fr);
}

.grid-page-rows-9 {
  --vs-theme--page-grid-inner-template-rows: repeat(9, 1fr);
}

.grid-page-rows-10 {
  --vs-theme--page-grid-inner-template-rows: repeat(10, 1fr);
}

.grid-page-rows-11 {
  --vs-theme--page-grid-inner-template-rows: repeat(11, 1fr);
}

.grid-page-rows-12 {
  --vs-theme--page-grid-inner-template-rows: repeat(12, 1fr);
}

.grid-page-cols-1 {
  --vs-theme--page-grid-inner-template-cols: repeat(1, 1fr);
}

.grid-page-cols-2 {
  --vs-theme--page-grid-inner-template-cols: repeat(2, 1fr);
}

.grid-page-cols-3 {
  --vs-theme--page-grid-inner-template-cols: repeat(3, 1fr);
}

.grid-page-cols-4 {
  --vs-theme--page-grid-inner-template-cols: repeat(4, 1fr);
}

.grid-page-cols-5 {
  --vs-theme--page-grid-inner-template-cols: repeat(5, 1fr);
}

.grid-page-cols-6 {
  --vs-theme--page-grid-inner-template-cols: repeat(6, 1fr);
}

.grid-page-cols-7 {
  --vs-theme--page-grid-inner-template-cols: repeat(7, 1fr);
}

.grid-page-cols-8 {
  --vs-theme--page-grid-inner-template-cols: repeat(8, 1fr);
}

.grid-page-cols-9 {
  --vs-theme--page-grid-inner-template-cols: repeat(9, 1fr);
}

.grid-page-cols-10 {
  --vs-theme--page-grid-inner-template-cols: repeat(10, 1fr);
}

.grid-page-cols-11 {
  --vs-theme--page-grid-inner-template-cols: repeat(11, 1fr);
}

.grid-page-cols-12 {
  --vs-theme--page-grid-inner-template-cols: repeat(12, 1fr);
}
